.teacher
  .block__title-content
    margin-bottom: 120px

.teacher__content
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 150px
  align-items: center

.teacher__title
  margin-bottom: 80px
  font-size: 34px
  line-height: 1

.teacher__description
  margin-bottom: 20px
  font-family: "Montserrat", "Arial", sans-serif
  font-weight: 500
  font-size: 15px
  line-height: 25px
  &:last-of-type
    margin-bottom: 0

.teacher__marker
  display: block
  margin-bottom: 90px
  font-weight: 500
  font-size: 12px
  letter-spacing: 0.02em
  color: $grey-400
  text-transform: uppercase
  font-family: "Montserrat", "Arial", sans-serif
