.header-nav__list
  display: flex
  justify-content: space-between
  flex-direction: column
  align-items: center
  // margin-right: 160px
    // margin-bottom: 60px
  +media-breakpoint-up(lg)
    flex-direction: row

.header-nav__item--services
  transition: max-height .3s

.header-nav__svg
  display: none
  width: 10px
  height: 10px
  stroke: $basic-black
  +media-breakpoint-down(md)
    display: block

.header-nav__counter
  display: none
  +media-breakpoint-down(md)
        // margin-right: 25%
        // display: block
        // width: 5%

.header-nav__title
  flex-grow: 1

.header-nav__item
  margin-right: 30px
  &:last-child
    margin-right: 0

.header-nav__link
  // display: flex
  // justify-content: space-between
  // align-items: center
  // flex-grow: 1
  // width: 100%
    // padding: 20px
  color: $basic-black
    // border-bottom: 1px solid $black-op-15
  font-size: 12px
  letter-spacing: 0.02em
  font-family: "Benzin-example"
  font-weight: 600
  // line-height: 20px
  // text-align: left
  text-transform: uppercase
  // transition: all 0.2s ease-out
  // overflow: hidden

    // &:hover
    //     background: $basic-black
    //     color: $basic-white
    //     .header-nav__svg
    //         stroke: $basic-grey
