.home__about
  padding: 220px 0 130px 0

.home__about-title
  display: flex
  justify-content: space-between
  margin-bottom: 100px
  .block__title-content
    display: block
    width: 40%
  .block__marker
    margin-bottom: 80px
  .cyrcle-heart
    align-self: flex-end

.home__content
  columns: 2 auto
  margin-bottom: 80px

.markdown-components
  p
    margin-bottom: 20px
    font-size: 15px
    line-height: 25px
    font-weight: normal
    font-family: "Montserrat", "Arial", sans-serif

.home__buttons
  display: flex
  justify-content: space-between
  .cyrcle__arrow-star
    width: 50%
  .cyrcle__arrow-title
    border-bottom: 1px solid $basic-black
  .cyrcle__yellow-star
    width: 80px
    height: 80px
  .cyrcle__arrow
    transform: translate(-50%, -50%) rotate(-90deg)
