.home__title-buttons
  display: flex
  justify-content: space-between

.home__title
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 135px

.home__title-text
  text-transform: uppercase
  font-size: 100px
  line-height: 100px
  color: $basic-black
  font-weight: normal

.home
  padding: 140px 0 60px 0
  position: relative

.home__wrapper
  padding: 0 60px

.home__svg
  position: absolute
  bottom: -130px
  left: 30%
  z-index: -1
  filter: blur(50px)
  .cyrcle__bg-1
    filter: blur(50px)
  .cyrcle__bg-2
    filter: blur(50px)
