
.lessons
  padding: 120px 0 220px 0
  @media (max-width: 1200px)
    padding: 100px 0 200px 0
  @media (max-width: 992px)
    padding: 100px 0 160px 0
  @media (max-width: 576)
    padding: 60px 0 100px 0

.lessons__link
  display: grid
  grid-template-columns: 25% 1fr auto
  padding: 80px 0
  align-items: center
  border-bottom: 1px solid $basic-black
  color: $basic-black
  &:first-of-type
    border-top: 1px solid $basic-black
  .cyrcle__yellow-star
    width: 100px
    height: 100px
  .cyrcle__arrow
    transform: translate(-50%, -50%) rotate(0deg)
  @media (max-width: 1200px)
    padding: 60px 0
    grid-template-columns: 10% 1fr auto
  @media (max-width: 992px)
    .cyrcle__yellow-star
      width: 80px
      height: 80px
  @media (max-width: 768px)
    grid-template-columns: none
    .cyrcle__arrow-star
      display: none
  @media (max-width: 576)
    padding: 40px 0

.lessons__content
  align-self: flex-start

.lessons__count
  font-size: 16px
  align-self: flex-start
  @media (max-width: 768px)
    display: none

.lessons__subTitle
  display: inline-block
  color: $basic-grey
  background: $basic-black
  font-size: 34px
  padding: 15px
  text-transform: uppercase

  @media (max-width: 992px)
    font-size: 30px
  @media (max-width: 768px)
    display: flex
    align-items: center
    justify-content: space-between
  @media (max-width: 576)
    font-size: 20px
    line-height: 25px

.lessons__title
  font-size: 24px
  margin-bottom: 20px
  line-height: 1
  @media (max-width: 992px)
    font-size: 20px
    margin-bottom: 15px

.lessons__subTitle-arrow
  stroke: $basic-grey
  display: none
  @media (max-width: 768px)
    display: block

.lessons__subTitle-text
  @media (max-width: 768px)
    text-align: left
    width: 40%
