.block__title-content
  display: flex

.block__marker
  display: block
  font-size: 12px
  letter-spacing: 0.02em
  color: $grey-400
  font-weight: 600
  width: 25%

.block__title
  font-size: 60px
  line-height: 65px
  color: $basic-black
  font-weight: normal
  text-transform: uppercase
  text-align: left
