@import "bootstrap/dist/css/bootstrap.css"
@import "bootstrap/scss/bootstrap-reboot.scss"
@import "bootstrap/scss/mixins/_breakpoints.scss"

@import './config'

@import "../components/UI/ui"

@import '../components/Layout/Header/Header'
@import "../components/Layout/Footer/Footer"
@import "../components/Layout/Instagram/Instagram"

@import "../components/Pages/Home/Home"
@import "../components/Pages/Services/Services"
@import "../components/Pages/About/About"
@import "../components/Pages/Article/Article"

*,*::before,*::after
  box-sizing: border-box

html
  width: 100%
  max-width: 100%
  height: 100%
  backface-visibility: hidden

body
  position: relative
  width: 100%
  max-width: 100%
  overflow-x: hidden
  scroll-behavior: smooth
  overscroll-behavior-y: none
  font-smooth: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeSpeed
  -webkit-text-rendering: optimizeSpeed
  font-family: $font
  background: $background-color
  color: $basic-black

ul
  padding: 0
  margin: 0
  li
    list-style: none

button
  padding: 0
  background-color: transparent
  border: none
  outline: none
  &:focus, &:focus, &:active
    outline: none

a
  outline: none
  &:hover, &:focus, &:active
    text-decoration: none

p
  margin: 0
