.pagination
  display: flex
  align-items: center
  justify-content: space-between

.pagination__previous
  margin-right: auto

.pagination__next
  margin-left: auto

.pagination__next
  text-align: end

// .pagination__item:nth-of-type(-n+10)
//   .pagination__link
//     &::before
//       content: "0"
.pagination__item
  margin: 0 15px

.pagination__break-link
  display: block
  height: 50%
  color: inherit
  font-size: inherit
  letter-spacing: 0.02em

.pagination__break
  display: flex
  align-items: center

.pagination__link
  padding: 15px 20px
  background: transparent
  border: 1px solid $grey-400
  font-size: 12px
  letter-spacing: 0.02em

.pagination__link--active
  border: 1px solid transparent
  background: $basic-black
  color: $basic-white

.blog__number
  width: 20%
  font-family: "Montserrat", "Arial", sans-serif
  font-size: 12px
  letter-spacing: 0.02em
  font-weight: 600
  align-self: flex-start

.blog__item-container
  display: flex
  align-items: center

.blog__link
  color: $basic-black
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 0.02em
  font-weight: 600
  font-family: "Montserrat", "Arial", sans-serif

  .cyrcle__yellow-star
    width: 100px
    height: 100px
  .cyrcle__arrow-star
    margin-left: auto

.blog__container
  max-width: 750px
  width: 100%
  margin-top: -10px

.blog__list
  padding: 120px 0

.blog__item
  padding: 80px 0
  border-bottom: 1px solid $basic-black
  &:first-of-type
    border-top: 1px solid $basic-black

.blog__filter-list
  display: flex
  margin-bottom: 40px

.blog__filter-item
  display: block
  padding: 10px
  background: $basic-grey
  margin-right: 15px
  color: $basic-black
  text-transform: uppercase
  font-size: 12px
  font-family: "Montserrat", "Arial", sans-serif
  &:last-of-type
    margin-right: 0

.blog__title
  display: block
  font-size: 34px
  margin-bottom: 40px

.blog__subtitle
  color: $grey-400

.blog__slash
  display: inline-block
  margin: 0 5px
