.header__num
  color: $basic-black
  padding-left: 20px
  order: -1
  font-size: 14px
  font-weight: 600
  letter-spacing: 2%
  margin-bottom: 40px
  font-family: "Benzin-example"
  +media-breakpoint-up(lg)
    order: 0
