.cyrcle__arrow-link
  display: flex
  align-items: center
  position: relative

.cyrcle__arrow
  stroke: $basic-black
  @extend %absolute-arrow

.cyrcle__arrow-star
  display: flex
  align-items: center

.cyrcle__arrow-title
  margin-left: 15px
  font-size: 14px
  color: $basic-black
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 0.08em
  +media-breakpoint-down(lg)
    font-size: 12px

.cyrcle__yellow-bg
  position: relative

.cyrcle__arrow
  width: 10px
  height: 10px
