.cyrcle__video
  position: absolute
  @extend %absolute-center
  width: 120px
  height: 120px

.cyrcle__triangle
  @extend %absolute-center
  transform: translate(-25%, -50%)

.cyrcle__video-svg
  position: relative
  animation: 8s ease-in-out infinite rotate-infinite
